// 部落格Info 表頭 小字 start
.blogInfo{
    &Main{
        margin-top: 8px;
    }
    &Path{
        font-size: $text-base;
        line-height: 24px;
        @include pad{
            font-size: $text-s;
            line-height: 20px;
        }
        span{
            color: $primary;
        }
    }
    &Tag{
        display: flex;
        align-items: center;
    }
    &Link{
        font-size: $text-l;
        line-height: 36px;
        font-weight: bold;
        color: $primary;
        padding-top: 8px;
        padding-right: 16px;
        @include pad{
            font-size: $text-base;
            line-height: 21px;
            padding-right: 8px;
        }
        @include mobile{
            font-size: $text-s;
            padding-right: 4px;
        }
        &:hover{
            opacity: 0.5;
            transition: all .4s;
        }
    }
}
// 部落格Info 表頭小字 end


// 部落格Info 文章標題 副標題 start
.blogInfo{
    &Block{
        display: flex;
        justify-content: space-between;
        @include mobile{
            display: block;
        }
    }
    &Detail{
        width: 75%;
        @include mobile{
            width: 100%;
        }
    }
    &Title{
        font-size: $text-4xl;
        line-height: 70px;
        margin-bottom: 8px;
        color: $primary;
        @include pad{
            font-size: $text-xl;
            line-height: 46px;
            margin-bottom: 4px;
        }
        @include mobile{
            font-size: $text-m;
            line-height: 30px;
            margin-bottom: 0;
        }
    }
    &Subtitle{
        font-size: $text-2l;
        line-height: 42px;
        font-weight: bold;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include pad{
            font-size: $text-base;
            line-height: 24px;
        }
        @include mobile{
            font-size: $text-s;
            margin-bottom: 20px;
        }
        span{
            font-size: $text-base;
            line-height: 24px;
            color: #6c6c6c;
            @include pad{
                font-size: $text-s;
            }
        }
    }
}
// 部落格Info 文章標題 副標題 end



// 部落格Info 右邊欄位的hushTag start
.hushTag{
    width: 22%;
    @include mobile{
        width: 100%;
        margin-bottom: 56px;
    }
    &Title{
        font-size: $text-2l;
        line-height: 42px;
        color: $primary;
        font-weight: bold;
        display: flex;
        align-items: center;
        @include pad{
            font-size: $text-m;
            line-height: 26px;
        }
        @include mobile{
            margin-bottom: 8px;
        }
    }
    @include pad{
        &Pic{
            width: 20px;
        }
    }
    &Block{
        display: flex;
        flex-wrap: wrap;
    }
    &Link{
        font-size: $text-l;
        line-height: 36px;
        color: $primary;
        font-weight: bold;
        padding-right: 24px;
        padding-bottom: 8px;
        @include pad{
            font-size: $text-base;
            line-height: 21px;
            padding-right: 16px;
            padding-bottom: 0;
        }
        @include mobile{
            padding-right: 8px;
        }
        &:hover{
            opacity: 0.5;
            transition: all .4s;
        }
    }
}
// 部落格Info 右邊欄位的hushTag end


// 部落格 內文及圖片 start
.blogInfo{
    &Pic{
        margin-bottom: 24px;
        @include pad{
            margin-bottom: 16px;
        }
    }
    &Content{
        font-size: $text-m;
        line-height: 30px;
        color: $gray-600;
        margin-bottom: 40px;
        @include pad{
            font-size: $text-base;
            line-height: 24px;
            margin-bottom: 24px;
        }
    }
}
// 部落格 內文及圖片 end



//文章底部社群分享連結 start
.blogInfoSocial{
    display: flex;
    align-items: center;
    margin-bottom: 44px;
    @include pad{
        margin-bottom: 36px;
    }
    @include mobile{
        margin-bottom: 26px;
    }
    &Text{
        font-size: $text-m;
        line-height: 30px;
        font-weight: bold;
        margin-right: 16px;
        @include pad{
            font-size: $text-base;
            line-height: 21px;
            margin-right: 8px;
        }
    }
    @include pad{
        &Icon{
            width: 20px;
        }
    }
    &Link{
        padding: 0 8px;
        &:hover{
            opacity: 0.5;
            transition: all .4s;
        }
    }
    position: relative;
    &::after{
        content: '';
        position: absolute;
        bottom: -20px;
        width: 100%;
        border-bottom: 1px solid $gray-400;
        @include mobile{
            bottom: -16px;
        }
    }
}
//文章底部社群分享連結 end


// 文章底部 上一篇 下一篇連結 start
.pageTurn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
    @include pad{
        margin-bottom: 96px;
    }
    @include mobile{
        display: block;
        margin-bottom: 32px;
    }
    .back, .forward{
        font-size: $text-m;
        line-height: 30px;
        color: $dark;
        font-weight: bold;
        display: flex;
        align-items: center;
        @include pad{
            font-size: $text-base;
            line-height: 24px;
        }
        @include mobile{
            font-size: $text-s;
            line-height: 20px;
        }
        &:hover{
            opacity: 0.5;
            transition: all .4s;
        }
    }
    .back{
        span{
            padding-right: 12px;
            @include pad{
                padding-right: 8px;
            }
            @include mobile{
                padding-right: 4px;
            }
        }
    }
    .forward{
        @include mobile{
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
        span{
            padding-left: 12px;
            @include pad{
                padding-left: 8px;
            }
            @include mobile{
                padding-left: 0;
                padding-right: 4px;
            }
        }
    }
}
// 文章底部 上一篇 下一篇連結 end