.faq{
    padding-top: 96px;
    padding-bottom: 128px;
    @include pad{
        padding-top: 60px;
    }
    @include mobile{
        padding-top: 28px;
        padding-bottom: 36px;
    }
    &Title{
        font-size: $text-5xl;
        font-weight: bold;
        padding-left: 16px;
        border-left: 8px solid #9F1213;
        margin-bottom: 60px;
        @include pad{
            margin-bottom: 40px;
            border-left: 4px solid #9F1213;
        }
        @include mobile{
            font-size: $text-2l;
            margin-bottom: 28px;
        }
    }
    &Subtitle{
        font-size: $text-xl;
        font-weight: bold;
        margin-bottom: 36px;
        @include pad{
            margin-bottom: 32px;
        }
        @include mobile{
            font-size: $text-m;
            margin-bottom: 24px;
        }
    }
    .question{
        font-size: $text-m;
        font-weight: bold;
        margin-bottom: 16px;
        @include mobile{
            font-size: $text-base;
            margin-bottom: 8px;
        }
    }
    .answer{
        width: 85%;
        font-size: $text-base;
        margin-bottom: 32px;
        padding-left: 8%;
        @include pad{
            width: 100%;
            margin-bottom: 24px;
        }
        @include mobile{
            font-size: $text-s;
            margin-bottom: 20px;
            padding-left: 0;
            span{
                display: block;
                margin-top: 20px;
            }
        }
    }
}