// banner 標題 start
.banner{
    background: url(../images/banner.png) no-repeat center/cover;
    height: 840px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include pad{
        background: url(../images/banner-sm.png) no-repeat center/cover;
    }
    @include mobile{
        height: 394px;
    }
    .container{
        width: 100%;
    }
    &Block{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &Title{
        font-size: $text-5xl;
        line-height: 96px;
        font-weight: bold;
        color: $seconddary;
        @include pad{
            font-size: $text-4xl;
            line-height: 70px;
        }
        @include mobile{
            font-size: $text-2l;
            line-height: 45px;            
        }
    }
    &Subtitle{
        font-size: $text-2xl;
        line-height: 54px;
        font-weight: bold;
        color: $seconddary;
        @include mobile{
            font-size: $text-base;
            line-height: 30px;
        }
    }
}
// banner 標題 end


// 首頁 Subtitle  start
.index{
    &Subtitle{
        font-size: $text-4xl;
        line-height: 72px;
        color: $seconddary;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
        @include pad{
            font-size: $text-xl;
            line-height: 48px;
            margin-bottom: 32px;
        }
        @include mobile{
            font-size: $text-l;
            line-height: 36px;
            margin-bottom: 20px;
        }
    }
}
// 首頁 Subtitle  end


// 首頁 specialty 專業  start
.specialty{
    background-color: $light;
    padding-top: 60px;
    padding-bottom: 80px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 16px;
    }
    @include mobile{
        padding-top: 32px;
    }
    &Block{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        @include pad{
            justify-content: space-around;
        }
    }
    &Card{
        width: 23%;
        @include pad{
            width: 40%;
            margin-bottom: 40px;
        }
        @include mobile{
            width: 75%;
        }
    }
    &Pic{
        text-align: center;
        display: block;
        margin: 0 auto 24px;
    }
    &Title{
        font-size: $text-l;
        line-height: 36px;
        color: $seconddary;
        font-weight: bold;
        text-align: center;
        margin-bottom: 8px;
    }
    &Content{
        font-size: $text-base;
        line-height: 24px;
    }
}
// 首頁 specialty 專業  end


// 首頁 classic 經典系列鏡框  start
.classic{
    padding-top: 60px;
    padding-bottom: 48px;
    @include pad{
        padding-top: 40px;
    }
    @include mobile{
        padding: 32px 0;
    }
    &Card{
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        @include pad{
            margin-bottom: 8px;
        }
        @include mobile{
            width: 100%;
        }
    }
    &Card.flex-d{
        flex-direction: row-reverse;
        @include pad{
            flex-direction: row;
        }
    }
    &Pic{
        width: 58%;
        @include mobile{
            display: none;
        }
    }
    @include mobile{
        &Pic-bg{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &Pic-bg1{
            background: url(../images/product-1.png) no-repeat center/cover;
            height: 134px;
        }
        &Pic-bg2{
            background: url(../images/product-2.png) no-repeat center/cover;
            height: 134px;
        }
        &Pic-bg3{
            background: url(../images/product-3.png) no-repeat center/cover;
            height: 134px;
        }
    }
    &Title{
        font-size: $text-4xl;
        line-height: 72px;
        color: $primary;
        font-weight: bold;
        font-style: italic;
        display: flex;
        align-items: center;
        margin: 0 30px;
        @include pad{
            font-size: $text-2l;
            line-height: 37px;
        }
        span{
            font-size: 40px;
            margin-right: 10px;
            @include pad{
                font-size: 37px;
                margin-right: 8px;
            }
        }
    }
}
// 首頁 classic 經典系列鏡框  end


// 首頁 design 聯名設計鏡框  start
.design{
    background: url(../images/bg.png) no-repeat center/cover;
    padding-top: 60px;
    padding-bottom: 80px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 56px;
    }
    @include mobile{
        padding-top: 32px;
        padding-bottom: 24px;
    }
    .indexSubtitle{
        color: $white;
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &Card{
        width: 48%;
        @include mobile{
            width: 100%;
            margin-bottom: 16px;
        }
    }
    &Pic{
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 455px;
        @include pad{
            height: 278px;
        }
        @include mobile{
            height: 291px;
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(#fff, 1);
            opacity: 0.5;
            z-index: 2;
        }
    }
    &Pic-left{
        background: url(../images/product-8.png) no-repeat center/cover;
    }
    &Pic-right{
        background: url(../images/product-9.png) no-repeat center/cover;
    }
    &Title{
        font-size: 72px;
        line-height: 95px;
        font-weight: bold;
        color: $primary;
        z-index: 3;
        @include pad{
            font-size: $text-xl;
            line-height: 43px;
        }
    }
}
// 首頁 design 聯名設計鏡框  end


// 首頁 recommend 顧客推薦  start
.recommend{
    padding-top: 60px;
    padding-bottom: 80px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 24px;
    }
    @include mobile{
        padding-top: 32px;
    }
    &Block{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
    }
    &Card{
        width: 23%;
        border: 1px solid $gray-200;
        border-radius: 5px;
        box-shadow: 1px 1px 5px $gray-100;
        @include pad{
            width: 48%;
            margin-bottom: 32px;
        }
        @include mobile{
            width: 100%;
            margin-bottom: 8px;
        }
    }
    &Pic{
        width: 100%;
        height: 256px;
        margin-bottom: 16px;
        border-radius: 5px 5px 0 0;
    }
    &Pic-1{
        background: url(../images/rec-1.png) no-repeat center/cover;
    }
    &Pic-2{
        background: url(../images/rec-2.png) no-repeat center/cover;
    }
    &Pic-3{
        background: url(../images/rec-3.png) no-repeat center/cover;
    }
    &Pic-4{
        background: url(../images/rec-4.png) no-repeat center/cover;
    }
    &Name{
        font-size: $text-s;
        line-height: 21px;
        margin-bottom: 8px;
    }
    &Content{
        font-size: $text-base;
        line-height: 24px;
    }
    .date{
        font-size: $text-s;
        line-height: 21px;
        color: $gray-400;
        margin-bottom: 16px;
    }
    &Flex{
        margin: 0 16px;
        height: 206px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
// 首頁 recommend 顧客推薦  end


// 首頁 contact 聯絡我們  start
.contact{
    background: $light;
    padding-top: 60px;
    padding-bottom: 80px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 56px;
    }
    @include mobile{
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .indexSubtitle{
        color: $dark;
        margin-bottom: 24px;
        @include mobile{
            margin-bottom: 20px;
        }
    }
    &Block{
        width: 66%;
        margin: 0 auto;
        @include mobile{
            width: 100%;
        }
    }
    &Content{
        font-size: $text-m;
        line-height: 30px;
        margin-bottom: 20px;
        @include pad{
            font-size: $text-base;
            line-height: 24px;
            margin-bottom: 16px;
        }
        @include mobile{
            margin-bottom: 8px;
        }
    }
    &Flex{
        display: flex;
        flex-direction: column;
    }
    &FormTitle{
        font-size: $text-base;
        line-height: 24px;
        margin-bottom: 4px;
        @include pad{
            font-size: $text-s;
            line-height: 21px;
            margin-bottom: 4px;
        }
        @include mobile{
            font-size: $text-s;
            line-height: 21px;
        }
    }
    &Input, &Textarea{
        background: transparent;
        border: 1px solid #000;
        font-size: $text-base;
        line-height: 24px;
        padding: 12px 16px;
        margin-bottom: 16px;
        @include pad{
            font-size: $text-s;
            line-height: 21px;
            padding: 8px 12px;
            margin-bottom: 8px;
        }
    }
    &Textarea{
        max-height: 164px;
        @include pad{
            max-height: 100px;
        }
    }
    .agree{
        display: flex;
        align-items: baseline;
        margin-bottom: 40px;
        @include pad{
            margin-bottom: 20px;
        }
    }
    .btn{
        text-align: center;
        input{
            width: 45%;
            background: $primary;
            color: $white;
            font-size: $text-base;
            line-height: 24px;
            font-weight: bold;
            padding: 16px 0;
            text-align: center;
            border: none;
            @include pad{
                font-size: $text-s;
                line-height: 21px;
                padding: 10px 0;
            }
            &:hover{
                cursor: pointer;
                background: $seconddary;
                transition: all .4s;
            }
        }
    }
}
// 首頁 contact 聯絡我們  end