

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    @include pad{
        max-width: 720px;
    }
    @include mobile{
        max-width: 690px;
    }
}


//表頭 start
.header{
    background: $primary;
    padding: 0 5%;
    @include mobile{
        padding: 0;
    }
    &Block{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        @include mobile{
            display: block;
        }
    }
    &Logo{
        background: url(../images/logo.png) no-repeat center;
        background-size: contain;
        width: 80px;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
        padding: 30px 0;
        &:hover{
            opacity: 0.5;
            transition: all .3s;
        }
        @include mobile{
            width: 48px;
            margin: 0 auto;
            padding: 15px 0;
        }
    }
    &Menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &Item{
        @include mobile{
            width: 50%;
            border: 1px solid #fff;
        }
    }
    &Link{
        color: $white;
        font-size: $text-m;
        line-height: 1.5;
        padding: 30px 32px;
        &:hover{
            opacity: 0.5;
            transition: all .4s;
        }
        @include pad{
            padding: 30px 20px;
        }
        @include mobile{
            text-align: center;
            padding: 8px 0;
        }
    }
}
//表頭 end


//表尾Menu start
.footer{
    background: $primary;
    color: $white;
    padding: 24px 0 40px;
    @include pad{
        padding: 28px 0 32px;
    }
    @include mobile{
        padding: 24px 0;
    }
    &Block{
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 32px;
        @include pad{
            margin-bottom: 24px;
        }
        @include mobile{
            margin-bottom: 16px;
        }
        &::after{
            position: absolute;
            content: "";
            width: 100%;
            border-bottom: 1px solid #fff;
            bottom: 0;
        }
    }
    &Nav{
        width: 60%;
        @include pad{
            width: 65%;
        }
    }
    &Menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        @include pad{
            margin-bottom: 8px;
        }
        @include mobile{
            display: none;
        }
    }
    &Link{
        font-size: $text-m;
        line-height: 1.5;
        color: $white;
        padding: 20px;
        @include pad{
            font-size: $text-base;
            padding: 10px;
        }
        &:hover{
            opacity: 0.5;
            transition: all .4s;
        }
    }
}
//表尾Menu end


//表尾Contact start
.footer{
    &Contact{
        padding-bottom: 16px;
        @include pad{
           padding-bottom: 14px;
        }
        @include mobile{
            padding-bottom: 21px;
        }
    }
    &ContactLink{
        font-size: $text-2xl;
        line-height: 1.5;
        color: $white;
        display: flex;
        align-items: center;
        padding: 8px 0;
        @include pad{
            font-size: $text-base;
            padding: 6px 0;
        }
        @include mobile{
            padding: 3px 0;
        }
    }
    &ContactPic{
        margin-right: 20px;
        width: 48px;
        @include pad{
            margin-right: 10px;
            width: 19px;
        }
    }
}
//表尾Contact end


//表尾SocialLink start
.social{
    &Menu{
        display: flex;
        justify-content: space-between;  
    }
    &Link{
        padding: 10px 20px;
        @include mobile{
            padding: 0 10ox;
        }
        &:hover{
            opacity: 0.5;
            transition: all .4s;
        }
    }
    &Icon{
        @include pad{
            width: 24px;
        }
    }
}
//表尾SocialLink end


//表尾copyright start
.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile{
        display: block;
    }
    &Text{
        font-size: $text-base;
        line-height: 1.5;
        @include mobile{
            font-size: $text-s;
            margin-bottom: 8px;
        }
    }
}

//表尾copyright end


//表尾privacy start
.privacy{
    &Menu{
        width: 17%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include pad{
            width: 25%;
        }
        @include mobile{
            display: block;
        }
    }
    &Item{
        @include mobile{
            margin-bottom: 8px;
        }
    }
    &Link{
        color: $white;
        font-size: $text-s;
        line-height: 1.5;
        &:hover{
            opacity: 0.5;
            transition: all .4s;
        }
    }
}
//表尾privacy end



