//產品頁面表頭選單設計 start
.product{
    &Nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &Item{
        width: 33%;
        text-align: center;
    }
    &Link{
        color: $dark;
        font-size: $text-xl;
        line-height: 1.5;
        font-weight: bold;
        border: 1px solid #DCDCDC;
        padding: 27px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include pad{
            font-size: $text-l;
            padding: 14px 20px;
        }
        @include mobile{
            font-size: $text-s;
            padding: 6px;
        }
    }
    &Link.hover{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            width: 0%;
            border-bottom: 8px solid transparent;
            transition: all .4s;
            @include mobile{
                border-bottom: 4px solid transparent;
            }
        }
        &:hover::after{
            width: 100%;
            border-bottom: 8px solid $primary;
            @include mobile{
                border-bottom: 4px solid $primary;
            }
        }
    }
    &Icon{
        font-size: 40px;
        margin-right: 10px;
        @include pad{
            font-size: 30px;
        }
        @include mobile{
            font-size: $text-s;
            margin-right: 2px;
        }
    }
    &Link.active{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            border-bottom: 8px solid $primary;
            @include mobile{
                border-bottom: 4px solid $primary;
            }
        }
    }
}
//產品頁面表頭選單設計 end



//Opcital 表頭Banner start
.product{
    &Banner{
        display: flex;
        align-items: center;
        .adPic{
            width: 50%;
            height: 304px;
            @include mobile{
                height: 148px;
            }
        }
        .OpcitalAd-1{
            background: url(../images/banner-1.png) no-repeat center;
            background-size: cover;
        }
        .OpcitalAd-2{
            background: url(../images/banner-2.png) no-repeat center;
            background-size: cover;
        }
    }
}
//Opcital 表頭Banner end


//product 標題 start
.product{
    &Block{
        padding-top: 80px;
        text-align: center;
        @include pad{
            padding-top: 56px;
        }
        @include mobile{
            padding-top: 32px;
        }
    }
    &Title{
        font-size: $text-3xl;
        line-height: 63px;
        font-weight: bold;
        @include pad{
            font-size: $text-xl;
            line-height: 36px;
        }
        @include mobile{
            font-size: $text-m;
            line-height: 26px;
        }
    }
    &Subtitle{
        font-size: $text-xl;
        line-height: 36px;
        @include pad{
            font-size: $text-l;
        }
        @include mobile{
            font-size: $text-base;
            line-height: 24px;
            margin-bottom: 4px;
        }
    }
}
//product 標題 end



// opcita sunglassesl 產品圖片 start
.opcital{
    &Card{
        width: 23%;
    }
    &Pic-1{
        background: url(../images/products-1.png) no-repeat center;
        background-size: cover;
    }
    &Pic-2{
        background: url(../images/products-7.jpg) no-repeat center;
        background-size: cover;
    }
    &Pic-3{
        background: url(../images/products-8.jpg) no-repeat center;
        background-size: cover;
    }
    &Pic-4{
        background: url(../images/products-9.jpg) no-repeat center;
        background-size: cover;
    }
    &Pic-5{
        background: url(../images/products-10.jpg) no-repeat center;
        background-size: cover;
    }
    &Pic-6{
        background: url(../images/products-12.jpg) no-repeat center;
        background-size: cover;
    }
}

.sunglasses{
    &Card{
        width: 32%;
    }
    &Pic-1{
        background: url(../images/products-2.png) no-repeat center;
        background-size: cover;
    }
    &Pic-2{
        background: url(../images/products-3.png) no-repeat center;
        background-size: cover;
    }
    &Pic-3{
        background: url(../images/products-4.png) no-repeat center;
        background-size: cover;
    }
    &Pic-4{
        background: url(../images/products-5.jpg) no-repeat center;
        background-size: cover;
    }
    &Pic-5{
        background: url(../images/products-6.jpg) no-repeat center;
        background-size: cover;
    }
    &Pic-6{
        background: url(../images/products-11.jpg) no-repeat center;
        background-size: cover;
    }
}

.product{
    &Menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
        @include pad{
            margin-bottom: 21px;
        }
        @include mobile{
            margin-bottom: 24px;
        }
    }
    &Card{
        margin: 40px 0;
        @include pad{
            width: 48%;
            margin: 32px 0;
        }
        @include mobile{
            width: 100%;
            margin: 16px 0;
        }
    }
    &Pic{
        height: 164px;
        @include mobile{
            height: 166px;
        }
    }
}

// opcital sunglasses 產品圖片 end


// opcital sunglasses 產品型號及價錢 start
.product{
    &Info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $text-l;
        line-height: 36px;
        @include pad{
            line-height: 30px;
        }
        @include mobile{
            font-size: $text-base;
        }
    }
    &Price{
        color: $primary;
        font-weight: bold;
    }
}
// opcital sunglasses 產品型號及價錢 end



// opcital sunglasses 產品顏色 start
.product{
    &Color{
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        @include pad{
            margin-bottom: 8px;
        }
        @include mobile{
            margin-bottom: 0;
        }
        .darkColor, .lightColor{
            border-radius: 4px;
            width: 24px;
            height: 24px;
            @include mobile{
                width: 16px;
                height: 16px;
            }
            &:hover{
                opacity: 0.6;
                transition: all .4s;
            }
        }
        .darkColor{
            background: $brown-800;
            margin-right: 8px;
        }
        .lightColor{
            background: $brown-500;
        }
    }
}
// opcital sunglasses 產品顏色 end


//sunglasses 表頭Baneer start
.product{
    &Banner{
        .SunglassesAd-1{
            background: url(../images/banner-3.png) no-repeat center;
            background-size: cover;
        }
        .SunglassesAd-2{
            background: url(../images/product-5.png) no-repeat center;
            background-size: cover;
        }
    }
}
//sunglasses 表頭Baneer end


