
$font-size-base:16px;

$text-s: $font-size-base * 0.875; //14px
$text-base: $font-size-base; 
$text-m: $font-size-base * 1.25; //20px
$text-l: $font-size-base * 1.5; //24px
$text-2l: $font-size-base * 1.75; //28px
$text-xl: $font-size-base * 2; //32px
$text-2xl: $font-size-base * 2.25; //36px
$text-3xl: $font-size-base * 2.625; //42px
$text-4xl: $font-size-base * 3; //48px
$text-5xl: $font-size-base * 4; //64px


$black:#000000;
$white:#ffffff;
$red-100:#FBF2F2; //$light
$red-600: #AA0601; //$primary
$red-800:#650300; //$seconddary
$gray-100:#F2F2F2;
$gray-200:#DEE2E6;
$gray-300:#CED4DA;
$gray-400:#707070;
$gray-500:#555555;
$gray-600:#212529;
$brown-500:#B75929;
$brown-800:#5F3E2D;

$primary:$red-600;
$seconddary:$red-800;
$light:$red-100;
$dark:$black;
